.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: [top] 2fr [c] 1fr [mid] 1fr [d] 2fr [bot];
  grid-template-columns: [left] 1fr [a] 8fr [b] 1fr [right];
}

.config {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  grid-column-start: left;
  grid-column-end: right;
  grid-row-start: top;
  grid-row-end: bot;
  z-index: 1000;
  background-color: white;
}

.button--time {
  height: 75%;
  width: 75%;
  background-color: white;
  border: 5px solid black;
  font-size: 5vh;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.button--time:hover {
  background-color: #ddd;
}

.hide {
  display: none;
}

.button--reset {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row-start: c;
  grid-row-end: d;
  background-color: white;
  color: black;
  z-index: 100;
  writing-mode: vertical-lr;
  font-size: 1rem;
  border: 5px solid black;
  user-select: none;
  cursor: pointer;
}

.button--left {
  grid-column-start: left;
  grid-column-end: a;
  transform: rotate(180deg);
}

.button--right {
  grid-column-start: right;
  grid-column-end: b;
}
